Purpose: I have constructed the past three notebook as building blocks to this point, where I will try to describe machine learning as simply as possible. I will also provide the resource I used to become familiar. It will be no surprise this will involve more StatQuest.

This is not exactly an intro because you have already done regression, which is simple machine learning!

Since you have a decent understanding of GLM regression, you should recognize machine learning simply predicts data using the equation of the best fit line.

Video: https://www.youtube.com/watch?v=yN7ypxC7838

Reading: https://www.ibm.com/cloud/blog/supervised-vs-unsupervised-learning

In this series of documents, I will stick to the typology defined in the IBM article. However, you may also see the term "ensembling" in supervised ML. This refers to algorithm compoosites where the terms are weak but the composite is strong. Examples of this are "boosting" or "bagging." Additionally, you may also see "association" models in unsupervised ML. These identify items which appear together and the strength of relationship between them.

Supervised Models can do regression (prediction) and classification. It is easy to assume models do one or the other but this is not the case. It is also worth noting many of these models have StatQuest videos available.

<b> Supervised Regression and Classification </b>

Linear Regression, Logistic Regression, Lasso Regression, Ridge Regression, Regression Trees, Classification and Regression Trees (CARTs), Random Forests, Support Vector Regression, Linear Discriminant Analysis, Naive Bayes, k-nearest neighbor (KNNs), Learning Vector Quantization (LVQs), Support Vector Machines (SVMs)

<b> Unsupervised Clustering, Association, and Dimensionality Reduction </b>

Reading: https://towardsdatascience.com/unsupervised-learning-and-data-clustering-eeecb78b422a

Reading: https://towardsdatascience.com/dimensionality-reduction-for-machine-learning-80a46c2ebb7e

K-means, hierarchical clusting, Density-based spatial clustering of applications with noise (DBSCAN), Principal Components Analysis (PCA), t-distributed stochastic neighbor embedding (t-SNE), Apriori, FP-Growth, autoencoders like Variational Autoencoder (VAE), Generative Adversarial Networks (GANs), Restricted Boltzmann Machines (RBMs)

So how do you choose a model? This comes down to objective, data types, and parameters. You want to find a model that solves your problem, but also matches the data types you have access to (catagorical/continuous/date-time, etc). You also want to check if it is parametric or non-parametric.

I recommend watching the following videos to grasp ML at the theoretical level. 

Video 1: https://www.youtube.com/watch?v=Gv9_4yMHFhI&list=PLblh5JKOoLUICTaGLRoHQDuF_7q2GfuJF

Video 2: https://www.youtube.com/watch?v=fSytzGwwBVw&list=PLblh5JKOoLUICTaGLRoHQDuF_7q2GfuJF&index=2

Video 3: https://www.youtube.com/watch?v=Kdsp6soqA7o&list=PLblh5JKOoLUICTaGLRoHQDuF_7q2GfuJF&index=3&pp=iAQB

Video 4: https://www.youtube.com/watch?v=vP06aMoz4v8&list=PLblh5JKOoLUICTaGLRoHQDuF_7q2GfuJF&index=4&pp=iAQB

Video 5: https://www.youtube.com/watch?v=EuBBz3bI-aA&list=PLblh5JKOoLUICTaGLRoHQDuF_7q2GfuJF&index=6&pp=iAQB

<b> Supervised Regression: Linear Regression Model </b>

In [20]:
import pandas as pd
df = pd.read_csv("data/NBAarchive/Advanced.csv")  # load data set

df

,seas_id,season,player_id,player,birth_year,pos,age,experience,lg,tm,...,tov_percent,usg_percent,ows,dws,ws,ws_48,obpm,dbpm,bpm,vorp
0,30458,2023,5025,A.J. Green,NaN,SG,23.0,1,NBA,MIL,...,6.6,16.6,0.5,0.3,0.8,0.111,-0.3,-0.6,-0.9,0.1
1,30459,2023,5026,A.J. Lawson,NaN,SG,22.0,1,NBA,TOT,...,5.9,21.1,0.1,0.1,0.1,0.063,-1.5,-2.9,-4.4,-0.1
2,30460,2023,5026,A.J. Lawson,NaN,SG,22.0,1,NBA,MIN,...,0.0,21.4,0.0,0.0,0.0,0.377,-2.3,7.5,5.2,0.0
3,30461,2023,5026,A.J. Lawson,NaN,SG,22.0,1,NBA,DAL,...,6.1,21.1,0.1,0.1,0.1,0.057,-1.5,-3.1,-4.6,-0.1
4,30462,2023,4219,Aaron Gordon,NaN,PF,27.0,9,NBA,DEN,...,9.8,21.1,4.6,2.2,6.8,0.158,2.4,-0.3,2.1,2.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31130,200,1947,157,Walt Miller,NaN,F,31.0,1,BAA,PIT,...,NaN,NaN,0.3,-0.1,0.3,NaN,NaN,NaN,NaN,NaN
31131,201,1947,158,Warren Fenley,NaN,F,24.0,1,BAA,BOS,...,NaN,NaN,-0.4,0.3,-0.1,NaN,NaN,NaN,NaN,NaN
31132,202,1947,159,Wilbert Kautz,NaN,G-F,31.0,1,BAA,CHS,...,NaN,NaN,-0.7,1.5,0.8,NaN,NaN,NaN,NaN,NaN
31133,203,1947,160,Woody Grimshaw,NaN,G,27.0,1,BAA,PRO,...,NaN,NaN,0.6,0.0,0.6,NaN,NaN,NaN,NaN,NaN
31134,204,1947,161,Wyndol Gray,NaN,G-F,24.0,1,BAA,BOS,...,NaN,NaN,1.6,0.7,2.2,NaN,NaN,NaN,NaN,NaN

In [21]:
#Here I dont want to get into catagorical variables, yet, so I drop all the variables
#that either are catagorical, or things that do not matter like ID valuses.

df = df.drop('player', axis=1)
df = df.drop('birth_year', axis=1)
df = df.drop('lg', axis=1)
df = df.drop('tm', axis=1)
df = df.drop('pos', axis=1)
df = df.drop('seas_id', axis=1)

In [22]:
#Run this if you want to drop all columns that contain NaN values.

df=df.dropna(axis=0) #Here i drop NaN values
#df=df.dropna(axis=1) #Here i drop NaN values
#df

In [23]:
y = df['bpm']
y

0       -0.9
1       -4.4
2        5.2
3       -4.6
4        2.1
        ...
25480   -3.9
25481   -2.0
25483   -1.3
25484    2.3
25487    1.1
Name: bpm, Length: 23497, dtype: float64

In [24]:
X = df.drop('bpm', axis=1)
X

,season,player_id,age,experience,g,mp,per,ts_percent,x3p_ar,f_tr,...,blk_percent,tov_percent,usg_percent,ows,dws,ws,ws_48,obpm,dbpm,vorp
0,2023,5025,23.0,1,35,345.0,11.5,0.607,0.840,0.032,...,0.0,6.6,16.6,0.5,0.3,0.8,0.111,-0.3,-0.6,0.1
1,2023,5026,22.0,1,15,108.0,13.9,0.589,0.568,0.182,...,0.0,5.9,21.1,0.1,0.1,0.1,0.063,-1.5,-2.9,-0.1
2,2023,5026,22.0,1,1,2.0,34.4,1.000,0.000,0.000,...,0.0,0.0,21.4,0.0,0.0,0.0,0.377,-2.3,7.5,0.0
3,2023,5026,22.0,1,14,106.0,13.5,0.580,0.581,0.186,...,0.0,6.1,21.1,0.1,0.1,0.1,0.057,-1.5,-3.1,-0.1
4,2023,4219,27.0,9,68,2055.0,19.5,0.617,0.227,0.413,...,2.2,9.8,21.1,4.6,2.2,6.8,0.158,2.4,-0.3,2.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25480,1974,1547,24.0,1,45,956.0,10.8,0.451,0.015,0.167,...,0.5,17.6,22.4,-0.5,0.3,-0.1,-0.006,-3.4,-0.6,-0.5
25481,1974,1413,23.0,3,82,2058.0,13.7,0.485,0.002,0.351,...,0.3,12.8,23.0,1.8,1.7,3.5,0.082,-0.9,-1.1,0.0
25483,1974,1415,25.0,3,82,1316.0,12.3,0.512,0.007,0.153,...,3.7,16.0,15.7,0.8,2.2,3.0,0.109,-2.4,1.2,0.2
25484,1974,1236,26.0,5,82,3292.0,20.1,0.544,0.011,0.344,...,0.7,10.7,23.9,8.0,2.5,10.5,0.153,2.8,-0.5,3.6
25487,1974,791,34.0,11,77,2476.0,17.2,0.569,0.001,0.307,...,1.4,10.9,17.1,5.4,2.2,7.7,0.149,1.4,-0.3,1.9

In [32]:
from sklearn.model_selection import train_test_split


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25)

In [33]:
X_train

print(X_train.shape[0]) #Get count of Training Dataset
print(df.shape[0])

17622
23497

In [34]:
X_test

print(X_test.shape[0])
print(df.shape[0])

5875
23497

<b> Predictive ML </b>

In [37]:
from sklearn.linear_model import LinearRegression

lr = LinearRegression()
lr.fit(X_train, y_train)

y_lr_train_pred = lr.predict(X_train)
y_lr_test_pred = lr.predict(X_test)

In [38]:
#y_lr_train_pred
#y_lr_test_pred

from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error

lr_train_mse = mean_squared_error(y_train, y_lr_train_pred)
lr_train_r2 = r2_score(y_train, y_lr_train_pred)
lr_train_mae = mean_absolute_error(y_train, y_lr_train_pred)

lr_test_mse = mean_squared_error(y_test, y_lr_test_pred)
lr_test_r2 = r2_score(y_test, y_lr_test_pred)
lr_test_mae = mean_absolute_error(y_test, y_lr_test_pred)

In [39]:
import math

print('LR MSE (Train): ', lr_train_mse) #mean squared error
print('LR RMSE (Train): ', math.sqrt(lr_train_mse)) #root mean squared error
print('LR R2 (Train): ', lr_train_r2) #RSquared
print('LR MAE (Train): ', lr_train_mae) #Mean Absolute Error

print(" ") #Spacer

print('LR MSE (Test): ', lr_test_mse)
print('LR RMSE (Test): ', math.sqrt(lr_test_mse))
print('LR R2 (Test): ', lr_test_r2)
print('LR MAE (Test): ', lr_test_mae)

LR MSE (Train):  0.002494836563392449
LR RMSE (Train):  0.04994833894527874
LR R2 (Train):  0.9998965260274337
LR MAE (Train):  0.02620624104123688

LR MSE (Test):  0.0024930532793653844
LR RMSE (Test):  0.04993048446956413
LR R2 (Test):  0.9998969380798371
LR MAE (Test):  0.026196548143572532

MSE: Small = good
RMSE: Small = good
R2: Large/1 = good
MAE: Small = good

Now we can predict NBA player BPM if we have all the other stats to go with it. Which is not useful, because we want variables that can predict the future. In this case, these variables occur at the same time at BPM. 

So we will do something more interesting. I sorted the Excel file of NBA stats by experience (presumably more experience means more data points). Vince Carter has 22 seasons, so I will make two excel files where ~20% are his latter years and ~80% are his former years.

In [53]:
import pandas as pd
df = pd.read_csv("data/NBAarchive/VinceCarterData.csv")  # load data set

#df

In [54]:
df = df.drop('player', axis=1)
df = df.drop('birth_year', axis=1)
df = df.drop('lg', axis=1)
df = df.drop('tm', axis=1)
df = df.drop('pos', axis=1)
df = df.drop('seas_id', axis=1)

In [55]:
df=df.dropna(axis=0) #Here i drop NaN values

In [56]:
y = df['bpm']
#y
X = df.drop('bpm', axis=1)
#X

In [66]:
from sklearn.model_selection import train_test_split


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, shuffle = False, stratify = None)

In [67]:
X_train

print(X_train.shape[0]) #Get count of Training Dataset
print(df.shape[0])

19
26

In [68]:
X_test

print(X_test.shape[0])
print(df.shape[0])

7
26

In [69]:
lr = LinearRegression()
lr.fit(X_train, y_train)

y_lr_train_pred = lr.predict(X_train)
y_lr_test_pred = lr.predict(X_test)

In [70]:
#y_lr_train_pred
#y_lr_test_pred

from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error

lr_train_mse = mean_squared_error(y_train, y_lr_train_pred)
lr_train_r2 = r2_score(y_train, y_lr_train_pred)
lr_train_mae = mean_absolute_error(y_train, y_lr_train_pred)

lr_test_mse = mean_squared_error(y_test, y_lr_test_pred)
lr_test_r2 = r2_score(y_test, y_lr_test_pred)
lr_test_mae = mean_absolute_error(y_test, y_lr_test_pred)

In [71]:
import math

print('LR MSE (Test): ', lr_test_mse) #mean squared error
print('LR RMSE (Test): ', math.sqrt(lr_test_mse)) #root mean squared error (.2-.5 is good)
print('LR R2 (Test): ', lr_test_r2) #RSquared
print('LR MAE (Test): ', lr_test_mae) #Mean Absolute Error

LR MSE (Test):  0.09257994976258811
LR RMSE (Test):  0.3042695347263477
LR R2 (Test):  0.9647738970463828
LR MAE (Test):  0.20842488787783944

Here we were able to predict Vince Carters efficiency with only ~20 data points.